%table
  %tr
    %th
      Index
    %th
      Name
    %th
      Status
  - @group.assigned_parts.order(:index).each do |part|
    %tr
      %td
        = part.index
      %td
        = CloverTask.part_name part.index
      %td
        OK
