$section: #eee;

#lead-container{
  padding: 1em;
}

#unassigned-parts form{
  float: right;
}

#assigned-parts td:not(:first-child){
  padding: 0 2em;
}

.section{
  margin: 1em 0;
  background-color: $section;
}
